.select {
  width: fit-content;
  margin: 0 auto 50px auto;
  margin-top: 120px;
  margin-bottom: 50px;
  border: 2px solid;
  border-radius: 8px;
  padding: 15px;
  background-color: antiquewhite;
}
.pp {
  padding: 50px 50px;
  border: 1px solid;
}
.true {
  padding: 50px 50px;
  border: 1px solid;
}
.cash {
  padding: 50px 65px;
  border: 1px solid;
}
.container{
  flex-direction: column;
  justify-content: space-between;
}
.accountnum {
  padding: 50px 60px;
  border: 1px solid;
}
.button, .button2 {
  display: flex;
  justify-content: center;
  gap: 50px;
}
.button {
  margin-top: 0px;
}
.button2 {
  margin-top: 50px;
}
body {
  background-color: coral;
}
