.FoodCenter {
  font-family: "Playwrite DE SAS", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
body {
    background-image: url("https://t4.ftcdn.net/jpg/01/13/72/81/360_F_113728133_bImcDOXc16fX4W2MgFfm5O6oCnJirMJJ.jpg");
    background-repeat: no-repeat;
    background-size: cover ;
    display: flex;
    flex-direction: row;
    align-content: center;
    height: 100vh;
    margin-right: 30px;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    padding-right: 170px;
    justify-content: space-between;
  }

body::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.25); /* ปรับค่าความเข้มที่นี่ เช่น 0.4 = มืดขึ้น */
  z-index: 0;
  }
  .container_signin,.FoodCenter {
    position: relative;
    z-index: 1;
}


.container_signin{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
  width: 100%;
  height: 100%;
  box-shadow: 9px 0px 0px -2px rgba(0,0,0,1);
-webkit-box-shadow: 9px 0px 0px -2px rgba(0,0,0,1);
-moz-box-shadow: 9px 0px 0px -2px rgba(0,0,0,1);
}
.Signinusername {

    width: 100px;
    height: 30px;


}
.Signinpassword {

    margin-top: 20px;
    width: 1000px;
    height: 30px;

}
.loginbutton {
    display: flex;
    margin-top: 20px;
}

.username {
    width: 300px;
    height: 20px;
}
.password {

    width: 300px;
    height: 20px;
    margin-top: 2px;
}
.Signin {
    font-family: "Playwrite DE SAS";
    font-weight: 400;
}
/* From Uiverse.io by Gaurav-WebDev */ 
.button {
  height: 30px;
  width: 100px;
  position: relative;
  background-color: transparent;
  cursor: pointer;
  border: 2px solid #252525;
  overflow: hidden;
  border-radius: 30px;
  color: #333;
  transition: all 0.5s ease-in-out;
}

.btn-txt {
  z-index: 1;
  font-weight: 800;
  letter-spacing: 3px;
  font-size: smaller;
}

.type1::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  transition: all 0.5s ease-in-out;
  background-color: #333;
  border-radius: 30px;
  visibility: hidden;
  height: 10px;
  width: 10px;
  z-index: -1;
}

.button:hover {
  box-shadow: 1px 1px 200px #252525;
  color: #fff;
  border: none;
}

.type1:hover::after {
  visibility: visible;
  transform: scale(100) translateX(2px);
}

/* From Uiverse.io by Samiix10 */ 
.signinusername {
  font-family: "Playwrite DE SAS";
  display: flex;
  flex-direction: column;
}
.signinusername label {
  font-size: 18px;
  margin-left: 20px;
}
.signinusername sup {
  color: red;
}
.signinusername .input {
  border: none;
  outline: none;
  border-radius: 100px;
  padding: 1.2em;
  background-color: #e1e2e3;
  box-shadow: inset 2px 5px 10px rgba(0, 0, 0, 0.3);
  transition: 300ms ease-in-out;
  position: relative;
  margin-top: 10px;
  height: 1px;
  width: 100%;
}
.signinusername .input:focus {
  background-color: #ffffff;
  transform: scale(1.05);
  box-shadow: 13px 13px 100px #969696, -13px -13px 100px #ffffff;
}
/* From Uiverse.io by Samiix10 */ 
.signinpassword {
  display: flex;
  font-family: "Playwrite DE SAS";
  flex-direction: column;
}
.signinpassword label {
  font-size: 18px;
  margin-left: 20px;
}
.signinpassword sup {
  color: red;
}
.signinpassword .input {
  border: none;
  outline: none;
  border-radius: 100px;
  padding: 1.2em;
  background-color: #e1e2e3;
  box-shadow: inset 2px 5px 10px rgba(0, 0, 0, 0.3);
  transition: 300ms ease-in-out;
  position: relative;
  margin-top: 10px;
  height: 1px;
  width: 300px;
}
.signinpassword .input:focus {
  background-color: #ffffff;
  transform: scale(1.05);
  box-shadow: 13px 13px 100px #969696, -13px -13px 100px #ffffff;
}
.background {
    width: 100%;
    height: 100%;
}
.FoodCenter {
    margin-left: 50% ;
    text-align: center;
    align-self: center;
    font-size: 100px;
    color: blue;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.35);
    backdrop-filter: blur(8px);
}
.word_food {
    color: #E58F4D;
}
.word_center {
    color: #1F3A5F;
}
.signinusername label,
.signinpassword label {
    font-size: 25px; /* ปรับเป็นขนาดที่ต้องการ */
}
.signinusername .input,
.signinpassword .input {
    font-size: 16px; /* ปรับขนาดตัวอักษรใน input */
    width: 100%;    /* กำหนดความกว้าง */
}
.button {
    width: 150px;
    height: 40px;
    font-size: 16px; /* เพิ่ม font-size */
}

.Heading{
  font-size: 50px;
}