<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>โปรไฟล์</title>
    <link rel="stylesheet" href="/static/css/store.css">
</head>
<body>
    <button class="back" onclick="goBack()">BACK</button>
    <nav class="ac1">
        <div class="acc">
            <img src="https://static.vecteezy.com/system/resources/previews/021/079/672/original/user-account-icon-for-your-design-only-free-png.png" class="account" alt="account">
            <div class="name">ชื่อ-สกุล :</div>
            <div class="year">ชั้นปี :</div>
            <div class="email">อีเมล :</div>
        </div>
    </nav>
    <script src="script.js"></script>
</body>
</html>
