<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>เมนูผู้ขาย</title>
    <link rel="stylesheet" href="/static/css/main_menu.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <script src="js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container-fluid">
        <nav>
            <button class="noti"></button>
        </nav>
        <div class="seller">
        <button class="menu" onclick="location.href='/foodform?shop_name={{ shop_name }}'">เมนู</button>
        <button class="revenue" >รายรับทั้งหมด</button>
        <button class="order">รายการสั่งซื้อ</button>
        <button class="payment" onclick="location.href='/payment?shop_name={{ shop_name }}'">วิธีการชำระเงิน</button>
        </div>
    </div>
    <script src="/static/js/main_menu.js"></script>
</body>
</html>
