<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link rel="stylesheet" href="../static/css/P_SignIn.css">
        <link rel="stylesheet" href="background.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Yatra+One&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Playwrite+DE+SAS:wght@100..400&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <script src="js/bootstrap.min.js"></script>
    </head>
<body>
    <div class="container-fluid">
        <style>
            /* h1 {
                font-family: "Yatra One", system-ui ;
                font-weight: 400;
                font-style: normal ;
            } */
        </style>
            <div class="container_signin">
                <div class="Signin">
                    <h1 class="Heading">Sign in</h1>
                </div>
                <!-- From Uiverse.io by Samiix10 --> 
                <form action="" method="post">
                    <div class="signinusername">
                        <label for="user" class="textH">Username<sup>*</sup></label>
                        <input id="un" type="text" autocomplete="off" name="username" class="input" />
                    </div>
                
                    <!-- From Uiverse.io by Samiix10 --> 
                    <div class="signinpassword">
                        <label for="pw" class="textH">Password<sup>*</sup></label>
                        <input id="pww" type="password" autocomplete="off" name="password" class="input" />
                    </div>
                    <div class="loginbutton">
                        <button class="button type1">
                            <span class="btn-txt">Log in</span>
                        </button>
                        
                    </div>
                </form>
            </div>
            <h1 class="FoodCenter">
                <span class="word_food">Food</span>
                <span class="word_center">Center</span>
            </h1>
    </div>
</body>
</html>