<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/P_SignIn.css') }}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Yatra+One&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Playwrite+DE+SAS:wght@100..400&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    </head>
    <body>
        <div class="container-fluid min-vh-100 d-flex align-items-cemter">
        <div class="row w-100">
            <div class="col-12 col-md-6">
                <div class="container_signin">
                    <div class="Signin">
                        <h1 class="Heading">Sign in</h1>
                    </div>
                    <!-- From Uiverse.io by Samiix10 --> 
                    <form action="/login" method="post">
                        <div class="signinusername">
                            <label for="user" class="textH">Username<sup>*</sup></label>
                            <input id="un" type="text" autocomplete="off" name="username" class="input" />
                        </div>
                        
                        <!-- From Uiverse.io by Samiix10 --> 
                        <div class="signinpassword">
                            <label for="pw" class="textH">Password<sup>*</sup></label>
                            <input id="pww" type="password" autocomplete="off" name="password" class="input" />
                        </div>
                        <div class="loginbutton">
                            <button class="button type1" type="submit">
                                <span class="btn-txt">Log in</span>
                            </button>
                        </div>
                    </form> 
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 d-flex align-items-center justify-content-center">
            <h1 class="FoodCenter">
                <span class="word_food">Food</span>
                        <span class="word_center">Center</span>
                    </h1>
                </div>
            </div>
        </div>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    </body>
    </html>