<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ร้านค้า</title>
    <link rel="stylesheet" href="../static/css/store.css">
</head>
<body>
    <nav class="navbar">
    <!-- ปุ่มเมนู (ซ้าย) -->
        <div class="nav-left">
            <button class="menu-btn">☰</button>
            <div class="dropdown-menu" id="dropdown">
                <a href="#">ล็อกเอาท์</a>
            </div>
        </div>
        <div class="nav-right">
            <a href="order_Store.html"><button class="icon-btn" title="ตะกร้าสินค้า">🛒</button></a>
            <a href="account_Store.html"><button class="icon-btn" title="โปรไฟล์">👤</button></a>
        </div>
    </nav>
    <div class="searchbar">
        <form class="form">
            <button>
                <svg width="17" height="16" fill="none" xmlns="http://www.w3.org/2000/svg" role="img" aria-labelledby="search">
                    <path d="M7.667 12.667A5.333 5.333 0 107.667 2a5.333 5.333 0 000 10.667zM14.334 14l-2.9-2.9" stroke="currentColor" stroke-width="1.333" stroke-linecap="round" stroke-linejoin="round"></path>
                </svg>
            </button>
            <input class="input" placeholder="Search..." required="" type="text">
            <button class="reset" type="reset">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12"></path>
                </svg>
            </button>
        </form>
    </div>
    <div class="store">
        <h2>ร้านค้า</h2>
    </div>

    <a href="noodle_Store.html" class="noodle">
        <nav class="navstoreone">
            <div class="storeone">
                <img src="https://th.bing.com/th/id/OIP.TV16wRxCEOMMsiDn0D_2OwHaEI?w=304&h=180&c=7&r=0&o=7&cb=12&dpr=1.1&pid=1.7&rm=3" alt="store1" class="store1">
                    <div class="menu-text">
                        <h3 class="menu-title">1.ร้านก๋วยเตี๋ยว</h3>
                        <p class="menu-stars">⭐⭐⭐</p>
                        <p class="comment">อร่อยมากค้าบบ</p>
                    </div>
                </div>
            </div>
        </nav>
    </a>
    <a href="noodle_Store.html" class="noodle">
        <nav class="navstoreone">
            <div class="storeone">
                <img src="https://th.bing.com/th/id/OIP.TV16wRxCEOMMsiDn0D_2OwHaEI?w=304&h=180&c=7&r=0&o=7&cb=12&dpr=1.1&pid=1.7&rm=3" alt="store1" class="store1">
                    <div class="menu-text">
                        <h3 class="menu-title">2.ร้านข้าวมันไก่</h3>
                        <p class="menu-stars">⭐⭐⭐</p>
                        <p class="comment">อร่อยมากค้าบบ</p>
                    </div>
                </div>
            </div>
        </nav>
    </a>
    <a href="noodle_Store.html" class="noodle">
        <nav class="navstoreone">
            <div class="storeone">
                <img src="https://th.bing.com/th/id/OIP.TV16wRxCEOMMsiDn0D_2OwHaEI?w=304&h=180&c=7&r=0&o=7&cb=12&dpr=1.1&pid=1.7&rm=3" alt="store1" class="store1">
                    <div class="menu-text">
                        <h3 class="menu-title">3.ร้านโคเจ</h3>
                        <p class="menu-stars">⭐⭐⭐</p>
                        <p class="comment">อร่อยมากค้าบบ</p>
                    </div>
                </div>
            </div>
        </nav>
    </a>
    <script src="script.js"></script>
</body>
</html>